{% extends 'base/SA_base.html' %}
{% block title %}ALCPT測驗-選擇操作權限{% endblock %}
<div class="container w3-center w3-myfont">
  <h1>最新十筆更新資料</h1>
  <table class="w3-table-all">
    <thead>
      <tr class="w3-light-grey w3-card-4">
        <th>帳號</th>
        <th>密碼</th>
        <th>權限</th>
        <th>時間</th>
      </tr>
    </thead>
    <tr class="w3-hover-green">
      <td>1070630215</td>
      <td>qqqqq</td>
      <td>受測者</td>
      <td>2017/04/03/18:00</td>
    </tr>
    <tr class="w3-hover-blue">
      <td>1070630215</td>
      <td>qqqqq</td>
      <td>受測者</td>
      <td>2017/04/03/18:00</td>
    </tr>
    <tr class="w3-hover-black">
      <td>1070630215</td>
      <td>qqqqq</td>
      <td>受測者</td>
      <td>2017/04/03/18:00</td>
    </tr>
    <tr class="w3-hover-text-green">
      <td>1070630215</td>
      <td>qqqqq</td>
      <td>受測者</td>
      <td>2017/04/03/18:00</td>
    </tr>
  </table>
</div>



