{% extends 'base/exam_manager_base.html' %}
{% load static %}
{% block title %} ALCPT測驗系統-修改考試 {% endblock%}
{% block content %}
<div class='container w3-myfont'>
	<form name='my form' action='.' method='POST'>
		{% csrf_token %}
		<table width="600" >
			<tr><td align="left"><font size="5"> 公告標題：</font></td><td >{{ edit_form_post.title }}</td></tr>
			<tr><td align="left"><font size="5"> 公告內容：</font></td><td>{{ edit_form_post.text}}</td></tr>
			<tr><td align="left"><font size="5"> 設為公告：</font></td><td>{{ edit_form_post.enabled}}</td></tr>
		</table>
		<br>
    <button class="w3-button w3-white w3-border w3-round-large" type='submit'>送出</button>
    <button class="w3-button w3-white w3-border w3-round-large"type='reset'>清除重填</button>
	</form>
</div>
{% endblock %}
