


    footer {
      background-color: #f2f2f2;
      padding: 200px;
    }
    .w3-myfont {
        font-family: "Comic Sans MS", cursive, sans-serif;
    }

    h1 {
        color: #FCA205;
        }
    h2   {color: rgba(0, 0, 0, 0.99);}
    p    {color: #0086ff;}


